@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*----------------------------------------Home------------------------------------------------------------*/
.home{
    width: 100%;
    height: 100vh;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    font-family: 'Pushster', cursive;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar ul li a:hover{
    color: #FFD524;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #FFD524;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 3rem;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 200;
    line-height: 25px;
    font-size: 1.3rem;
}
.btn{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-size: 1.2rem;
    border-radius: 25px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #FFD524;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}
span{
    background: #FFD524;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: .5s;
}
.btn:hover span{
    width: 100%;
}
.btn:hover{
    border: none;
}



@keyframes glowing {
    0% {text-shadow:0 0 .1em, 0 0 .1em;}
    25% {text-shadow:0 0 .1em, 0 0 .2em;}
    50% {text-shadow:0 0 .2em, 0 0 .1em;}
    75%{text-shadow: 0 0 .2em, 0 0 .2em;}
    100%{text-shadow:0 0 .1em, 0 0 .1em;}
  }
  @-webkit-keyframes glowing {
    
    0% {text-shadow:0 0 .1em, 0 0 .1em;}
    25% {text-shadow:0 0 .1em, 0 0 .2em;}
    50% {text-shadow:0 0 .12em, 0 0 .1em;}
    75%{text-shadow: 0 0 .2em, 0 0 .2em;}
    100%{text-shadow:0 0 .1em, 0 0 .1em;}
  }
.intro h1{
      padding-top: 3rem;
      text-align: center;
      font-size:4rem;
      color: #8a2897;
      animation: glowing 2s infinite;
}
.intro-content{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.intro-content p{
    padding: 4rem;
    margin-right: 6rem;
    font-size: 2rem;
    text-align: justify;
    color: #55185D;
}
.intro-content img{
    height: 30%;
    width: 30%;
}
.mainContent{
    width: 100%;
    max-width: 1024px;
    padding-top: 0 4%;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 240px;
    background-color: #d000f0;
    margin: 10px;
    border-radius: 10px;
    box-sizing: 0px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, .12);
    transition: all .3s ease;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all .3s ease;
    border: 2px solid #fff;
}
.icon{
    margin: 20px auto 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: #8a2897;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 0px;
    background-size: 200px;
    color: #fff;
}
.card-icon{
    font-size: 2rem;
}
.card .title{
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card .text{
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-weight: 300;
    opacity: 0;
    max-height: 0;
    transition: all .3s ease;
}
.card:hover{
    height: 400px;
}
.card:hover .text{
    transition: all .3s ease;
    opacity: 1;
    max-height: 125px;
}
.card-btn{
    width: 150px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    font-size: 1rem;
    border-radius: 10px;
    background: transparent;
    border: 2px solid #FFD524;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transition: all .3s ease;
}
.card-btn:hover{
    background-color: #55185D;
}
.card:hover .card-btn{
   transition: all .3s ease;
    opacity: 1;
    max-height: 125px;
}
.card:hover .icon{
    background-position: -120px;
    transition: all .3s ease;
    background-color: #FFD524;
    color: #fff;
}

/*-----------------Projects-------------------------------------*/
  .heading{
    background: #fff;
    z-index:1;
    font-family: "Montserrat";
      letter-spacing: 2px;
      display: block;
      text-align: center;
      font-size: 4rem;
      text-transform: uppercase;
      font-weight: 200;
      text-transform: uppercase;
    margin-top: 5rem;
  
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
  /* Just add shadows, every time with a different top, right and opacity */
    text-shadow: #c0c0c0 -1px 1px 0, #c2c2c2 -2px 2px 0, #c3c3c3 -3px 3px 0, #c5c5c5 -4px 4px 0, #c6c6c6 -5px 5px 0, #c8c8c8 -6px 6px 0, #c9c9c9 -7px 7px 0, #cbcbcb -8px 8px 0, #ccc -9px 9px 0, #cecece -10px 10px 0, #cfcfcf -11px 11px 0, #d1d1d1 -12px 12px 0, #d2d2d2 -13px 13px 0, #d4d4d4 -14px 14px 0, #d5d5d5 -15px 15px 0, #d7d7d7 -16px 16px 0, #d8d8d8 -17px 17px 0, #dadada -18px 18px 0, #dbdbdb -19px 19px 0, #ddd -20px 20px 0, #dfdfdf -21px 21px 0, #e0e0e0 -22px 22px 0, #e2e2e2 -23px 23px 0, #e3e3e3 -24px 24px 0, #e5e5e5 -25px 25px 0, #e6e6e6 -26px 26px 0, #e8e8e8 -27px 27px 0, #e9e9e9 -28px 28px 0, #ebebeb -29px 29px 0, #ececec -30px 30px 0, #eee -31px 31px 0, #efefef -32px 32px 0, #f1f1f1 -33px 33px 0, #f2f2f2 -34px 34px 0, #f4f4f4 -35px 35px 0, #f5f5f5 -36px 36px 0, #f7f7f7 -37px 37px 0, #f8f8f8 -38px 38px 0, #fafafa -39px 39px 0, #fbfbfb -40px 40px 0, #fdfdfd -41px 41px 0, #fff -42px 42px 0;
  }
.post-container{
    margin-top: 10px;
}
.post-container .post{
    width: 300px;
    background: #db9fe4;
    box-sizing: 0 3px 5px rgba(0, 0, 0, .3);
    margin: 0 auto;
    padding-bottom: 20px ;
}

.post-container .post .post-image img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.post-container .post .post-content{
    padding: 20px 20px;
}
.post-container .post .post-content .post-title{
    font-weight: 600;
    font-size: 22px;
    color: #8a2897;
    text-transform: capitalize;
}
.post-container .post:hover .post-title{
    color: #FFD524;
}
.post-container .post .post-content p{
    font-size: 1rem;
    padding: 10px 0;
    color: #fff;
    margin-bottom: 10px;
}
.post-container .post .post-content .post-btn{
    position: relative;
    border: 2px solid #8a2897;
    padding: 10px;
    background-color: #8a2897;
    transition: .4s ease-in;
    z-index: 1;
    color: #fff;
    font-size: 1rem;
}
.post-btn::before,
.post-btn::after{
    position: absolute;
    content: "";
    z-index: -1;
}
.post-btn:hover{
    box-shadow: 10px 10px 10px #FFD524;
    top: -5px;
    left: -5px;
}
/*----------------------------Pricing Table-------------*/
.table-wrapper{
    width: 900px;
    margin: 2% auto;
}
.single-price{
    width: 33%;
    background: white;
    float: left;
    margin-top: 2%;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .5);
    transition: .9s;
    text-align: center;
}
.price{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #8a2897;
    margin: 5% auto 0 auto;
    text-align: center;
}
.deals{
    math-style: 10%;
}
.single-price h1{
    font-size: 1.5rem;
    color: #000;
    line-height: 2;
    text-transform: uppercase;
}
.price h2{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #000;
    padding-top: 2rem;
}
.deals h4{
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    line-height: 1;
    color: #666;
    padding-top: 2rem;
}
.single-price:hover{
    background: #55185D;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    border-radius: 25px;
}
.single-price:hover .price{
    border-color: #FFD524;
}
.single-price:hover .price h2{
    color: #fff;
}
.single-price:hover .deals h4{
    color: #fff;
}
.single-price:hover h1{
    color: #fff;
}
.single-price a{
    text-decoration: none;
    background: #8a2897;
    color: #fff;
    padding: 10px 60px;
    display: inline-block;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
}
.single-price:hover a{
    background: #FFD524;
    color: #fff;
}

/*-----------------------------Video Projects-----------------*/

.vid-container{
    width: auto;
    margin: 0 auto;
}


.gallery{
width: 100%;
overflow: hidden;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
padding: 2rem;
justify-content: center;
}


.list-img{
overflow-y: auto;
width: 100%;
height: 500px;
padding-top: 20px;
-webkit-box-flex: 0;
-ms-flex: 0 0 31%;
flex: 0 0 31%;
max-width: 31%;
padding-left: 10px;
}
.list-img img{
width: 120px;
height: 62px;
padding-right: 10px;
cursor: pointer;

}
.main-img{
display: flex;
position: relative;
padding-right: 10px;
width: 100%;

}
.main-img img{
width: 100%;
height: 545px;

}
.main-img iframe{
width: 100%;
height: 500px;

}
.col-main{
position: relative;
width: 100%;
}
.main-img .item-img{
width: 100%;
    min-width: 100%;
}


img.item-list{
opacity:1;
}
.item-list.active{
opacity: 1;
}
.nutslide{
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 100%;
}


span.next{
right: 15px;
position: absolute;
font-size: 28px;
color: #fff;
  width: 35px;
height: 36px;
background: #373737;
padding-left: 8px;
padding-right: 10px;
border-radius: 4px;
padding-top: 1px;
cursor: pointer;
}

span.prev {
left: 15px;
position: absolute;
font-size: 28px;
color: #fff;
width: 35px;
height: 36px;
background: #373737;
padding-left: 8px;
padding-right: 10px;
border-radius: 4px;
padding-top: 1px;
cursor: pointer;
}
.main{
position: relative;
width: 100%;
-webkit-box-flex: 0;
-ms-flex: 0 0 69%;
flex: 0 0 69%;
max-width: 69%;
}
.img-thumbnail{
position: relative;
width: 100%;

}

.video-content{
position: relative;
display: flex;
padding-bottom: 20px;
cursor: pointer;
}
.video-content img{
position: absolute;
}
.video-content iframe{
padding-right: 10px;
width: 120px;
height: 62px;
}


/* width */
::-webkit-scrollbar {
width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background:#7c7c7c; 
border-radius: 10px;
}

/*------------------team----------------*/


.container-1{
    min-height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1150px;
    padding: 10px;
}
.container-1 .main-card {
    width: 200%;
    display: flex;
    justify-content: space-evenly;
}
.main-card .cards-1{
    width: calc(100% / 2 - 10px);
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.main-card .cards-1 .card-1{
    background: #fff;
    
    padding: 30px;
    border-radius: 24px;
}
.cards-1 .card-1 .content-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cards-1 .card-1 .content-1 .img-1{
    height: 200px;
    width: 200px;
    margin-bottom: 14px;
    background: #8a2897;
    padding: 3px;
    border-radius: 50%;
}
.cards-1 .card-1 .content-1 .img-1:hover{
    background: #FFD524;
}
.card-1 .content-1 .img-1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.card-1 .content-1 .details .name {
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 500;
    font-weight: bold;
}
.card-1 .content-1 .details .job{
    font-size: 20px;
    font-style: italic;
    color: #041F60;
}
.card-1 .content-1 .media-icons{
    display: flex;
    margin-top: 10px;
}
.card-1 .content-1 .media-icons a {
    height: 35px;
    width: 35px;
    background-color: #8a2897;
    color: white;
    margin: 0 4px;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    font-size: 14px;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}
.content-1 .media-icons a:hover{
    border-color: #FFD524;
    color: #FFD524;
    background: #fff;

}


  @media (max-width: 768px) {
    .main-card .cards .card{
      margin: 20px 0 10px 0;
      width: calc(100% / 2 - 10px);
    }
  }
  @media (max-width: 600px) {
    .main-card .cards .card{
      /* margin: 20px 0 10px 0; */
      width: 100%;
    }
  }

/*-------------------Image Gallery-----------------------*/
.img-main{
    position: relative;
    height: 100vh;
    width: 100%;
    color: #fff;
    overflow: hidden;
    margin: 0;
}
.img-main .gallery-box{
    position: relative;
    height: 500px;
    width: 70%;
    margin: 5% auto;
    overflow: hidden;
}
.img-main .gallery-box .img-preview-box{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.img-main .gallery-box .img-preview-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img-main .gallery-box .img-thumbnails{
    position: absolute;
    height: calc(100% - 350px);
    width: 100%;
    display: flex;
    transition: .5s ease-in-out;
    z-index: 1;
    bottom: -100%;
    overflow: hidden;
}
.img-main .gallery-box:hover .img-thumbnails{
    bottom: 0;
}
.img-main .gallery-box .img-thumbnails .img-thumbnail{
    height: 100%;
    position: relative;
    width: calc(100% / 6);
    overflow: hidden;
    cursor: pointer;
}
.img-main .gallery-box .img-thumbnails .img-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-main .gallery-box .img-thumbnails .img-thumbnail:hover img{
    opacity: 0.55;

}

/*---------------------------Newsletter------------------------*/

.news-container{
    background-image: url(./img/news.jpg);
    background-size: cover;
    padding: 5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
}
.news-container h1{
    color: #fff;
    text-align: center;
    font-style: 100px;
    text-transform: uppercase;
    font-weight: bolder;
    padding-bottom: 30px;
}
.news-container form .inputBox{
    width: 90%;
    height: 70px;
    background: #574b9060;
    border-radius: 50px;
    position: relative;
}
.news-container form .inputBox input{
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 50px);
    height: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 20px;
    font-style: 1rem;
    color: #f1f1f1;
}
.news-container form .inputBox input::placeholder{
    color: #fff;
}
.news-container form .inputBox button.news-btn{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #574b90;
    color: #fff;
    cursor: pointer;
    animation: animate 3s infinite;
}
@keyframes animate{
    0%, 100% {
       box-shadow: none;
    }
    50%{
        box-shadow: 0 0 0 5px #574b90,
                    0 0 0 10px #574b90;
    }
}
.news-container .inputBox button.news-btn:hover{
    animation: none;
}

/*---------------------------Blog--------------------------*/
.blog{
    padding: 40px 0;
    text-align: center;
}
.blog-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 30px 15px 0 15px;
}
.singleBlog{
    position: relative;
    overflow: hidden;
    max-height: 580px;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 10px #ccc;
    transition: all .5s;
}
.singleBlog:hover{
    box-shadow: 0 2px 13px #ccc;
    transition: all .5s;
}
.singleBlog img{
    width: 100%;
    transition: all .5s;
}
.singleBlog:hover img{
    transform: scale(1.1);
    transition: all .4s;
}
.blogContent{
    position: absolute;
    left: 0;
    bottom: -45px;
    width: 100%;
    transition: all .5s;
    color: #fff;
    padding: 10px 5px;
    background: linear-gradient(45deg, rgba(60, 8, 73, 0.4) 0%, rgb(129, 43, 179) 100%);
}
.singleBlog:hover .blogContent{
    bottom: 0;
    transition: all .5s;
}
.blogContent h3{
    font-style: 3rem;
    font-weight: 800;
    text-transform: uppercase;
}
.blogContent p{
    font-size: .9rem;
    text-align: justify;
    line-height: 1;
    padding: 10px;
}
.blogContent h4{
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 600;
    color: #FFD524;
}
.blogContent .blog-btn{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-weight: 400;
    font-size: 1rem;
}
.blogContent .blog-btn:hover{
    background: #55185D;
    transition: all .5s;
    text-decoration: none;
}
.blogContent a{
    transition: all .5s;
    text-decoration: none;
    color: #fff;
    font-size: 1rem                                         ;
}
.blogContent a:hover{
    text-decoration: underline;
}

/*-----------------------------Contact----------------------*/
.contact{
    position: relative;
    height: 550px;
}
.map-content{
    display: flex;
    justify-content: flex-start;
    height: 500px;
}
#map{
    position: absolute;
    width: 100%;
    height: 500px;
}
.contact-form{
    position: relative;
    display: flex;
    justify-content: center;
    left: 235px;
    bottom: 490px;
    width: 510px;
    height: 470px;
    background-color: #fff;
    border-radius: 3px;
}
.contact-card{
    padding: 2rem;
}
.contact-card h1{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 24px;
    font-weight: 500;
    color: black;
}
.card-content{
    display: flex;
    padding: 20px;
}
.card-content form div input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFD524;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1.4rem;
    margin: 0 0 20px;
    padding: 0;
    box-shadow: none;
    transition: all .3s;
}
.card-content form div input:focus, 
.card-content form div textarea:focus{
    border-bottom: 1px solid #FFD524;
    box-shadow: 0 1px 0 0 #FFD524;
}
.card-content form div input:focus + label,
.card-content form div textarea:focus + label{
    color: #8a2897;
    font-size: .8rem;
    transform: translateY(-140%);
}
label{
     color: gray;
     position: absolute;
     left: 27%;
     font-size: 1rem;
     cursor: text;
     transition: .2s ease-out;
}
textarea{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFD524;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: .8rem 0 1.6rem 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .3s;
    overflow-y: hidden;
}
.cont-btn{
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #8a2897;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
                0 1px 5px 0 rgba(0, 0, 0, .12),
                0 3px 1px -1px rgba(0, 0, 0, .2);
}

/*------------------------footer-------------------------------------*/
footer {
    color: #fff;
}
footer ul {
    padding: 0px;
}
footer ol, ul {
    margin-bottom: 0px;
}

.social-icon {
    padding: 0;
    margin-bottom: 0px;
    float: right;
}

.social-icon li {
    list-style: none;
    display: inline-block;
}
.social-icon li i {
    font-size: 18px;
    color: #262725;
    border: solid 2px #ffffff;
    height: 31px;
    width: 31px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    line-height: 27px;
    margin-right: 15px;
    transition: 1s;
    background: #fff;
}
.social-icon li i:hover {
    border: solid 2px #55185D;
    color: #ffffff;
    background: #55185D;
}
.footer-row{
    display: flex;
}
.footer-container{
    margin: 20px;
}
.footer-row .col-lg-4{
    width: 50%;
}
.footer-row .col-md-4{
    width: 40%;
}
.footer-top {
    background: linear-gradient(30deg, rgba(55, 2, 68, 0.4) 0%, rgb(91, 2, 143) 90%);
    padding:50px 0 50px;
}
.footer-top h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
}
.footer-top h4:hover{
    color: #FFD524;
    text-decoration: underline;
}
.footer-top p {
    font-size: 15px;
    line-height: 2;
    margin-right: 50px;
}

footer p {
  margin-bottom:0;
}
.footer-logo {
    display: block;
    margin-bottom: 32px;
}
.address1 li {
    list-style: none;
    position: relative;
    padding: 0px 0 14px 34px;
    line-height: 26px;
}
ul.address1 span {
    position: absolute;
    width: 40px;
    max-width: 40px;
    left: 0;
}
.address1 li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}
ul.address1 i {
    width: 20px;
    position: absolute;
    left: 0px;
    text-align: center;
    font-size: 28px;
    top: 0;
}
ul.address1 i:hover,  .address1 li a:hover{
    color: #FFD524;
    transition: .5s all ease-in-out;
}

ul.address1 i.fa-envelope {
    font-size: 18px;
    top: 4px;
}
footer ul.social-icon {
    float: left;
}
footer .social-icon li i:hover {
    background: #FFD524;
    border-color: #FFD524;
}

.footer-bottom {
    background: #3a0c41;
    padding: 5px 0px;
    justify-content: space-between;
    align-items: center;
    display: block;
}
.footer-bottom ul li {
    display: inline;
    margin-right: 20px;
    font-size: 17px;
}
.footer-bottom ul li a{
    color:#fff;
    text-decoration: none;
}
.footer-bottom ul li a:hover{
    color: #FFD524;
}
.footer-bottom ul {
    float: right;
}

.footer-bottom ul li:last-child {
    margin-right: 0;
}
.copyright {
    font-size: 18px;
}
























